.game{
    margin-top: 160px;
    background-color: #012407;
    padding: 50px;
    border-radius: 50px;
}

.game h1{
   font-size: 2.5em;

}

.points span{
    font-weight: bold;

}

.tip span{
    color: gold;
}

.wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 10px solid rgb(255, 255, 255);
    display: flex;
}

.letter, .blankSquare{
    font-size: 90px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 130px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #155a07;
    font-weight: bold;

}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input{
    height: 69px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;

}